/* General Styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img.jpg'); /* Added background image */
  background-repeat: no-repeat;
  color: #333;
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size:cover; /* Adjusts the image to fit within the element */
  /* Optionally, you can set the background position */
  /* background-position: center;  */
}

/* Navigation Bar */
nav {
  background-color: #000;
}


nav h1 {
  color: #fff;
  font-size: 24px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-weight: 500;
}

nav a:hover {
  background-color: #333;
  border-radius: 5px;
}

/* Search Box Styling */
nav input[type="text"] {
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 200px;
}

nav input[type="text"]::placeholder {
  color: #ccc;
}

/* Hero Section */
header {
  position: relative;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

header h1 {
  font-size: 4rem;
  font-weight: 700;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 1;
}

header h1, header p {
  position: relative;
  z-index: 2;
}

/* Main Content Styling */
main {
  padding: 40px 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Tool Sections */
.main-container > div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-container > div:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}

.main-container h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

.main-container p {
  font-size: 1rem;
  color: #666;
  margin: 20px 0;
}

/* Buttons */
button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #444;
}

/* Footer Section */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}
main{
margin-left: 21%;
/* border:2px solid black */
}